<h1 class="shortMasthead__headline enterAnimation enterAnimation--active" data-enter-animation="">{{ page.title }}</h1>
<section class="APIDescription">
  <div style="width: 100%;">
    <div style="width: 75%; margin: 0 auto;">
    These are streaming, message and event-driven APIs that are delivered using real time protocols like Websockets, Server-Sent Events (SSE), and other long running connections, allowing for sustained connections delivering one-way or two-way API feeds of data and content.
  </div></div>
</section>
