<div class="taggedLinkCards__cards">
  {% for item in listing_object %}

    {% if item.version %}
      {% if item.version == "1.2.0" %}

        {% assign api_name = "" %}
        {% assign api_description = "" %}
        {% assign api_image = "" %}
        {% assign api_json_url = "" %}
        {% assign api_json_kin_rank = "" %}
        {% assign api_json_alexa_rank = "" %}

         {% for entry in listing_object %}
           {% if entry.name %}
            {% for api in entry.apis %}
               {% if entry.name == item.x-collection-name %}
                 {% assign api_name = entry.name %}
                 {% assign api_slug = api_name | replace: ' ','-' | replace: '/','' | replace: '&','-' | replace: '=','-' | replace: '{','-' | replace: '}','-' | replace: '?','-' | replace: '_','-' | replace: '--','-' | downcase %}
                 {% assign api_description = entry.description %}
                 {% assign api_image = entry.image %}
                 {% assign api_json_url = entry.url %}
                 {% assign api_json_kin_rank = entry.x-kinRank %}
                 {% assign api_json_alexa_rank = entry.x-alexaRank %}
               {% endif %}
             {% endfor %}
           {% endif %}
         {% endfor %}

         api_name: {{ api_name }}<br />

      {% endif %}
    {% endif %}
  {% endfor %}
</div>
