<section class="APIDetailHeader  APIDetailHeader--extra-top-padding ">
   <div class="APIDetailHeader__container">
      <div class="APIDetailHeader__left">
         <img src="{{ apis_json.image }}" alt="{{ page.info.title }}" class="APIDetailHeader__image">
      </div>
      <div class="APIDetailHeader__right">
         <h1 class="APIDetailHeader__title">{{  page.info.description }}</h1>
         <div class="APIDetailHeader__dateContainer">
            <p class="APIDetailHeader__dateCallout">Posted on:</p>
            <p class="APIDetailHeader__date">{{ apis_json.modified | date: %b %y" }}</p>
         </div>
      </div>
   </div>
</section>

<section class="APIDescription">
   <div class="APIDesciption__container">
      <h2 class="APIDescription__header">API Description</h2>
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">Provider</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p>{{ page.info.title }}</p>
            </div>
         </div>
      </div>
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">API URL</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p><a href="{{ api_url }}" target="_blank" rel="noopener">{{ api_url }}</a></p>
            </div>
         </div>
      </div>

      {% if signup_url != '' %}
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">Sign Up Page</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p><a href="{{ signup_url }}" target="_blank" rel="noopener">{{ signup_url }}</a></p>
            </div>
         </div>
      </div>
      {% endif %}

      {% if documentation_url != '' %}
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">Documentation</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p><a href="{{ documentation_url }}" target="_blank" rel="noopener">{{ documentation_url }}</a></p>
            </div>
         </div>
      </div>
      {% endif %}

      {% if twitter_url != '' %}
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">Twitter</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p><a href="{{ twitter_url }}" target="_blank" rel="noopener">{{ twitter_url }}</a></p>
            </div>
         </div>
      </div>
      {% endif %}

      {% if gitub_url != '' %}
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">Github</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p><a href="{{ gitub_url }}" target="_blank" rel="noopener">{{ gitub_url }}</a></p>
            </div>
         </div>
      </div>
      {% endif %}

      {% if terms_of_service_url != '' %}
      <div class="APIDescription__table">
         <div class="APIDescription__tableHeader">
            <p class="APIDescription__tableHeaderCopy">Terms of Service</p>
         </div>
         <div class="APIDescription__tableBody">
            <div class="APIDescription__tableBodyCopy">
               <p><a href="{{ terms_of_service_url }}" target="_blank" rel="noopener">{{ terms_of_service_url }}</a></p>
            </div>
         </div>
      </div>
      {% endif %}

</section>
